%h2= l(:approval_new)

= labelled_form_for @approval  do |f|
  = error_messages_for 'approval'
  .issue-details#update
    #all_attributes
      %p= f.select :type, {l(:approval_type_UmpirageApproval) => "UmpirageApproval", l(:approval_type_IssueToMerge) => "IssueToMerge"} , class: "form-control"
      %p= f.select :object_type, { l(:approval_object_type_user) => "user", l(:approval_object_type_dept) => "dept"}, label: l(:approval_object_type), class: "form-control"
      %p
        = f.select :object_id, [], {label: l(:approval_object_id)}, style: "width: 200px"
        = select2_remote("approval_object_id")
      %p
        = f.select :user_id, [], {label: l(:approval_user_id)}, style: "width: 200px"
        = select2_remote("approval_user_id")
      %p= submit_tag l(:button_submit), class: "btn btn-primary"


:javascript
  $("#approval_object_type").change(function(){
    var $object = $("#approval_object_id");
    $object.empty().val("");
    switch($(this).val()) {
      case "user":
        $object.select2('destroy');
        $object.select2_remote({status: 1});
        break;
      case "dept":
        $object.select2('destroy');
        $object.select2({data: #{Dept.select2_available_depts.to_json}});
        break;
    }
  })
