- provide :css, "bootstrap"

.clearfix{style: "margin-top:25px"}
  = labelled_form_for @tool, html: {id: 'editToolForm', class: 'tool-form'} do |f|
    = error_messages_for 'tool'
    = render :partial => 'form', :locals => { :f => f }
    .button-group.text-center
      %a.btn.btn-primary.btn-sm{class: "btn btn-primary btn-sm", id:"updateTool", remote: true}= l(:button_save)

:javascript
  $("#updateTool").on("click", function(){
    window.onbeforeunload = null;
    if($('.progress').length != 0){layer.alert("文件正在上传中，请等待文件上传完成后再提交！"); return false;}
    var data = $("form#editToolForm").serialize();
    $.ajax({
      url: '/tools/#{@tool.id}.json?key=#{User.current.api_key}',
      type: "patch",
      data: data,
      dataType: "json"
    }).done( function(result){
      success = result.success;
      messages = result.message;
      if(success == 1){
        var url = "/tools";
        window.parent.location.href = url;
      }else if(success == 0){
        var html = '';
        html = html + "<div id='errorExplanation'><ul>";
              
        $.each(messages, function(i, value) {
          html = html + "<li>" + value + "</li>";
        });    

        html = html + "</ul></div>";    

        $("#errorExplanation").remove();
        $("form#newToolForm").prepend(html);
      }
    });   
  })