%p
  = f.text_area :possible_values, :value => @custom_field.possible_values.to_a.join("\n"), :rows => 15
  %em.info= l(:text_custom_field_possible_values_info)
%p= f.text_field(:default_value)
%p= f.text_field :url_pattern, :size => 50, :label => :label_link_values_to
%p= edit_tag_style_tag f
