- provide :nav, "9,1"
- provide :css, "bootstrap"
- content_for :header_tags do
  = javascript_include_tag "/amg/wangEditor/dist/js/wangEditor.min.js"
  = stylesheet_link_tag '/amg/wangEditor/dist/css/wangEditor.min.css'

%span.h2= l(:label_qanda_new)

= labelled_form_for :qanda, @qanda do |f|
  = error_messages_for 'qanda'
  .issue-details#update
    #all_attributes
      %p= f.text_field :subject, :style => "width: 80%"
      %p= f.text_area :content, :style => "width: 80%; height: 500px"
      :javascript
        $(function() {
          var editor = new wangEditor('qanda_content');
          editor.create();
        });
      %p
        = f.select :tag, [], {}, :style => "width: 80%", :multiple => true
        = select2_tag "qanda_tag"
  %section.button-group.text-right
    = submit_tag l(:button_create), class: "btn btn-primary"
