= custom_field_title @custom_field
- selected = 0
= form_tag new_custom_field_path, :method => 'get' do
  .box
    %p
      = l(:label_custom_field_select_type)
      \:
    %p
      - custom_field_type_options.each do |name, type|
        %label{:style => "display:block;"}
          = radio_button_tag 'type', type, 1==selected+=1
          = name
  %p= submit_tag l(:label_next).html_safe + " »".html_safe, :name => nil
