- provide :css, "bootstrap"

.clearfix{style: "margin-top:30px"}
  .issue-details
    .attributes
      %table.table.table-borderless
        %tbody
          %tr
            %th.col-sm-2= l(:patch_patch_no)
            %td.col-sm-10= @version.try(:patch).try(:patch_no)
          %tr 
            %th.col-sm-2= l(:patch_version_category)
            %td.col-sm-10= @version.category
          %tr 
            %th.col-sm-2= l(:patch_version_name)
            %td.col-sm-10= @version.name
          %tr
            %th.col-sm-2= l(:patch_version_version_url)
            %td.col-sm-10= @version.version_url
          %tr
            %th.col-sm-2= l(:patch_version_version_log)
            %td.col-sm-10= @version.version_log
          %tr
            %th.col-sm-2= l(:patch_version_status)
            %td.col-sm-10= @version.status
          - if @version.result.present?
            %tr
              %th.col-sm-2= l(:patch_version_result)
              %td.col-sm-10= @version.result
          %tr
            %th.col-sm-2= l(:patch_version_due_at)
            %td.col-sm-10= format_time @version.due_at

    - if @records.present?
      .attributes     
        .allchange
          %ul.nav.nav-tabs
            %li{:class => "active" }
              %a{"data-toggle" => "tab", :href => "#history"}= l(:label_history)
          .tab-content
            #history.tab-pane{:class => "in active" }
              .history-details
                .journal
                  - @records.each_with_index do |r, idx|
                    #note
                      .note-title
                        = task_authoring_at r.created_at, r.user, {:label => :label_updated_time_at, target: "_blank"}
                      %ul.details
                        - personal_task_details(r.details).each do |string|
                          %li= string

  - if @version.need_resolve?
    = error_messages_for @version
    = labelled_form_for @version, :url => patch_version_task_update_task_path(id: @version.id, task_id: @task.id), :html => {:multipart => true, id: "patchVersionTaskForm"} do |f|
      .issue-details#update
        #all_attributes
          %p= f.select :result, task_status_options(@task),required: true, label: "状态"
          %p
            %label= l(:spec_note)
            = text_area_tag "task[notes]", '', :style => "width: 80%; height: 100px"  

      .button-group.text-center
        %a.btn.btn-primary.btn-bg{id:"updatePatchVersionTask", remote: true}= l(:button_save)

:javascript
  $("#updatePatchVersionTask").on("click", function(){
    window.onbeforeunload = null;

    var data = $("form#patchVersionTaskForm").serialize();
    var taskId = "#{@task.id}";
    $.ajax({
      url: '/tasks/'+taskId+'/patch_version_task_update.json?key=#{User.current.api_key}',
      type: "post",
      data: data,
      dataType: "json"
    }).done( function(result){
      success = result.success;
      messages = result.message;
      if(success == 1){
        var url = '#{my_tasks_path(type: "patch_version_task")}';
        window.parent.location.href = url;
      }else if(success == 0){
        var html = '';
        html = html + "<div id='errorExplanation'><ul>";
              
        $.each(messages, function(i, value) {
          html = html + "<li>" + value + "</li>";
        });    

        html = html + "</ul></div>";    

        $("#errorExplanation").remove();
        $("form#libraryTaskForm").prepend(html);
      }
    });   
  })