- provide :nav, "5,1"
- provide :css, "bootstrap"

.filter-right
  .tab{:role => "tabpanel"}
    / Nav tabs
    %ul#feildTabs.nav.nav-tabs{:role => "tablist", :style => "margin-top:5px;"}
      - if User.current.admin?
        %li#tab_manage.active{:role => "presentation"}
          %a{"aria-controls" => "manage", "data-toggle" => "tab", :href => "#section_manage", :role => "tab"} 权限管理设置
      %li#tab_common{:role => "presentation"}
        %a{"aria-controls" => "common", "data-toggle" => "tab", :href => "#section_common", :role => "tab"} 权限申请设置

    / Tab panes
    .tab-content
      - if User.current.admin?
        #section_manage.tab-pane.fade.in.active{:role => "tabpanel"}
          %p
            .row
              .col-sm-6
                .h2= "权限管理设置"
              .col-sm-6.text-right
                = link_to("新增权限管理人员", new_custom_permission_path(type: 'manage'), remote: true, :class => 'btn btn-primary btn-sm')
            .issues-body
              - if @manages.blank?
                %p.nodata= l(:label_no_data)
              - else
                %table.table.table-striped.table-bordered.table-hover
                  %thead
                    %tr
                      %th #
                      %th 人员
                      %th 权限类型
                      %th 创建日期
                      %th 备注
                      %th 操作
                  %tbody
                    - @manages.each_with_index do |m, i|
                      %tr
                        %td= i+1
                        %td= link_to_user m.user
                        %td= scope_text(m.permission_type)
                        %td= m.created_at.strftime("%F %T")
                        %td= m.notes
                        %td= custom_permission_links(m)
      #section_common.tab-pane.fade{:role => "tabpanel"}
        %p
          .row
            .col-sm-6
              .h2= "权限申请设置"
            .col-sm-6.text-right
              = link_to("新增权限申请人员", new_custom_permission_path(type: 'common'), remote: true, :class => 'btn btn-primary btn-sm')
          .issues-body
            - if @commons.blank?
              %p.nodata= l(:label_no_data)
            - else
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th #
                    %th 人员
                    %th 权限类型
                    %th 创建日期
                    %th 备注
                    %th 操作
                %tbody
                  - @commons.each_with_index do |c, i|
                    %tr
                      %td= i+1
                      %td= link_to_user c.user
                      %td= scope_text(c.permission_type)
                      %td= c.created_at.strftime("%F %T")
                      %td= c.notes
                      %td= custom_permission_links(c)

              %span.pagination= pagination_links_full @pages, @count
