- assigned_issues = issuesassignedtome_items
%h4
  = link_to l(:label_assigned_to_me_issues),                                                         |
    issues_path(:search => "issues.assigned_to_id=#{User.current.id} AND issues.closed_on IS NULL", :sort => 'priority:desc,updated_on:desc') |
  (#{assigned_issues.limit(nil).count})
= render :partial => 'issues/list_simple', :locals => { :issues => assigned_issues.to_a }
- content_for :header_tags do
  = auto_discovery_link_tag(:atom,                                              |
    {:controller => 'issues', :action => 'index', :set_filter => 1,             |
     :assigned_to_id => 'me', :format => 'atom', :key => User.current.rss_key}, |
    {:title => l(:label_assigned_to_me_issues)})                                |
