- provide :nav, "1,3"
- provide :css, "bootstrap"

.container
  .row.seamless.notification
    .col-md-2.notification-left
      %p.title= l(:notification_my)
      %ul.tab-group
        - notification_tabs.each do |tab|
          %li.tab-group-item{:class => (tab == @tab ? "active" : nil), :id => "notification-#{tab[:name]}"}
            = link_to l(tab[:label]), {:tab => tab[:name]}, :onclick => "_hmt.push(['_trackEvent', 'nav', 'click', '我的通知-#{l(tab[:label])}'])"
            %span.badge= unread_count(tab[:name])
    .col-md-10.notification-right
      %p.h2= l(@tab[:label])
      %ul.notification-list
        - @notices.each do |n|
          = render :partial => @tab[:partial], :locals => { :n => n }
      %span.pagination= pagination_links_full @notice_pages, @notice_count


