.contextual
  = link_to(l(:button_edit), edit_user_path(@user), :class => 'icon icon-edit') if User.current.admin?
%h2
  = avatar @user, :size => "50"
  = @user.name
.splitcontentleft
  %ul
    - if User.current.admin?
      %li
        = l(:field_login)
        \: #{@user.login}
    - unless @user.pref.hide_mail
      %li
        = l(:field_mail)
        \: #{mail_to(@user.mail, nil, :encode => 'javascript')}
    - @user.visible_custom_field_values.each do |custom_value|
      - if !custom_value.value.blank?
        %li
          = custom_value.custom_field.name
          \: #{show_value(custom_value)}
    %li
      = l(:label_registered_on)
      \: #{format_date(@user.created_on)}
    - unless @user.last_login_on.nil?
      %li
        = l(:field_last_login_on)
        \: #{format_date(@user.last_login_on)}
  %h3= l(:label_issue_plural)
  %ul
    %li
      = link_to l(:label_assigned_issues),                                                                   |
        issues_path(:search => "issues.assigned_to_id = #{@user.id} AND issues.closed_on IS NULL", :sort => 'priority:desc,updated_on:desc') |
      \:
      \#{Issue.visible.open.assigned_to(@user).count}
    %li
      = link_to l(:label_reported_issues),                                       |
        issues_path(:search => "issues.author_id = #{@user.id}") |
      \:
      \#{Issue.visible.where(:author_id => @user.id).count}
  - unless @memberships.empty?
    %h3= l(:label_project_plural)
    %ul
      - for membership in @memberships
        %li
          = link_to_project(membership.project)
          (#{membership.roles.sort.collect(&:to_s).join(', ')}, #{format_date(membership.created_on)})
  = call_hook :view_account_left_bottom, :user => @user
  %h3= l(:user_contact)
  %ul
    - if @user.orgNm.present?
      %li
        %p= "#{l(:user_contact_department)}: #{@user.parentOrgNm.to_s} / #{@user.orgNm.to_s}"
    - if @user.mobile.present?
      %li
        %p= "#{l(:user_contact_mobile)}: #{@user.mobile}"
    - if @user.phone.present?
      %li
        %p= "#{l(:user_contact_phone)}: #{@user.phone}"
    - if @user.mails.reject(&:blank?).present?
      %li
        %p= "#{l(:user_contact_email)}: #{mail_to @user.mails.reject(&:blank?).first}".html_safe


.splitcontentright
  - unless @events_by_day.empty?
    %h3= link_to l(:label_activity), :controller => 'activities', |
        :action => 'index', :id => nil, :user_id => @user,        |
        :from => @events_by_day.keys.first
    #activity
      - @events_by_day.keys.sort.reverse.each do |day|
        %h4= format_activity_day(day)
        %dl
          - @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e|
            %dt{:class => "#{e.event_type}"}
              %span.time= format_time(e.event_datetime, false)
              = content_tag('span', e.project, :class => 'project')
              = link_to format_activity_title(e.event_title), e.event_url
            %dd
              %span.description= format_activity_description(e.event_description)
    -# - other_formats_links do |f|
    -#   = f.link_to 'Atom', :url => {:controller => 'activities', :action => 'index', :id => nil, :user_id => @user, :key => User.current.rss_key}
    - content_for :header_tags do
      = auto_discovery_link_tag(:atom, :controller => 'activities', :action => 'index', :user_id => @user, :format => :atom, :key => User.current.rss_key)
  = call_hook :view_account_right_bottom, :user => @user
- html_title @user.name
