- if @project.boards.any?
  .table-list.boards
    .table-list-header
      .table-list-cell= l(:label_board)
    = render_boards_tree(@project.boards) do |board, level|
      %div{:class => "table-list-row #{cycle 'odd', 'even'}"}
        .table-list-cell.name{:style => "padding-left: #{2 + level * 16}px"}
          = link_to board.name, project_board_path(@project, board)
        .table-list-cell.description= board.description
        .table-list-cell.buttons
          - if User.current.allowed_to?(:manage_boards, @project)
            = reorder_handle(board)
            = link_to l(:button_edit), edit_project_board_path(@project, board), :class => 'icon icon-edit'
            = delete_link project_board_path(@project, board)
  = javascript_tag do
    $(function() { $("div.sort-level").positionedItems(); });
- else
  %p.nodata= l(:label_no_data)
- if User.current.allowed_to?(:manage_boards, @project)
  %p= link_to l(:label_board_new), new_project_board_path(@project), :class => 'icon icon-add'
