= labelled_form_for @wiki,                                                |
  :as => :wiki,                                                           |
  :url => { :controller => 'wikis', :action => 'edit', :id => @project }, |
  :remote => true, :method => 'post' do |f|                               |
  = error_messages_for 'wiki'
  .box.tabular
    %p
      = f.text_field :start_page, :size => 60, :required => true
      %em.info
        = l(:text_unallowed_characters)
        \: , . / ? ; : |
  .contextual
    = link_to(l(:button_delete), {:controller => 'wikis', :action => 'destroy', :id => @project}, |
      :class => 'icon icon-del') if @wiki && !@wiki.new_record?                                   |
  = submit_tag((@wiki.nil? || @wiki.new_record?) ? l(:button_create) : l(:button_save))
