%h3.title= l(:label_add_projects)
= form_for :membership, :remote => true, :url => user_memberships_path(@principal), :method => :post do |f|
  = render :partial => 'new_form'
  %p.buttons
    = submit_tag l(:button_add), :name => nil
    = submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button'
