%fieldset.box
  %legend
    = l(:label_project_plural)
    = toggle_checkboxes_link('.projects-selection input:enabled')
  .objects-selection
    .projects-selection
      = render_project_nested_lists(@projects) do |p|
        %label
          = check_box_tag('membership[project_ids][]', p.id, false, :id => nil, :disabled => @principal.member_of?(p))
          = p
%fieldset.box
  %legend
    = l(:label_role_plural)
    = toggle_checkboxes_link('.roles-selection input')
  .roles-selection
    - @roles.each do |role|
      %label
        = check_box_tag 'membership[role_ids][]', role.id, false, :id => nil
        = role
