= form_tag('', method: :post, class: 'form-horizontal', remote: true, id: "editInfoForm") do |f|
  .form-group
    %label.control-label.col-sm-3= l(:project_category_other)
    .col-xs-8= project.identifier
  .form-group
    = label_tag 'project[has_adapter_report]', l(:project_has_adapter_report), class: 'control-label col-sm-3'
    .col-xs-8
      = select_tag 'project[has_adapter_report]', options_for_select([[l(:general_text_yes), true], [l(:general_text_no), false]], project.has_adapter_report),    |
        class: "form-control", prompt: "请选择"
  .form-group
    = label_tag 'project[notes]', l(:label_remark), class: 'control-label col-sm-3'
    .col-xs-8
      = text_area_tag 'project[notes]', project.try(:notes), class: "form-control", :style => "width: 100%;height: 120px"