- provide :nav, "4,1"
- provide :css, "bootstrap"

= title l(:label_production_new)
= labelled_form_for @project, :html => {:class => "form-wrapper"} do |f|
  = error_messages_for 'project'
  .box.tabular
    #all_attributes
      = render :partial => 'projects/form'
      = f.hidden_field :category
  %section.button-group.text-center
    = submit_tag l(:button_create), class: "btn btn-primary"
    -# = submit_tag l(:button_create_and_continue), :name => 'continue', class: "btn btn-primary"

- unless @project.identifier_frozen?
  - content_for :header_tags do
    = javascript_include_tag 'project_identifier'


:javascript
  new SMValidator('form', {
    short: true,
    rules: {
      identifier: [/^(?!\d+$)[A-z0-9\-_]*$/, '输入不符合规则']
    },
    fields: {
      'project[name]': 'required',
      'project[identifier]': 'required|identifier'
    },
    submit: function(valid, form) {
      if(valid) form.submit();
    }
  });

