- provide :nav, '6, 1'
- provide :css, 'bootstrap'
- content_for :bread do
  %li= link_to l(:label_demands), demands_path
  %li= l(:label_demands_new)

%span.h2= l(:label_demands_new)

= labelled_form_for @demand, :url => demands_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  .button-group.text-center
    = submit_tag l(:button_save), class: "btn btn-primary"
