.attachments.attachments-list
  - for attachment in attachments
    %p
      = link_to_attachment attachment, :class => 'icon icon-attachment'
      - if attachment.is_text? || attachment.is_image?
        = link_to l(:button_view),                                 |
          { :controller => 'attachments', :action => 'show',       |
            :id => attachment, :filename => attachment.filename }, |
          :class => 'icon-only icon-magnifier',                    |
          :title => l(:button_view)                                |
      = " - #{attachment.description}" unless attachment.description.blank?
      %span.size
        (#{number_to_human_size attachment.filesize})

      - if options[:editable]
        = link_to(l(:label_edit),                     |
          container_attachments_edit_path(container), |
          :title => l(:label_edit_attachments),       |
          :class => 'icon-only icon-edit' )

      - if options[:deletable]
        = link_to l(:button_delete), attachment_path(attachment), |
          :data => {:confirm => l(:text_are_you_sure)},           |
          :method => :delete,                                     |
          :class => 'delete icon-only icon-del',                  |
          :title => l(:button_delete)                             |
      - if options[:author]
        %span.author
          = attachment.author
          , #{format_time(attachment.created_on)}
  - if defined?(thumbnails) && thumbnails
    - images = attachments.select(&:thumbnailable?)
    - if images.any?
      .thumbnails
        - images.each do |attachment|
          %div= thumbnail_tag(attachment)
