- provide :nav, (@project.show_by(4)? "4,1" : "2,1")
- provide :css, "bootstrap"

%h1 GO

= title l(:label_wiki_page_new)
= labelled_form_for :page, @page,                     |
  :url => new_project_wiki_page_path(@project) do |f| |
  = render_error_messages @page.errors.full_messages_for(:title)
  .box.tabular
    %p
      = f.text_field :title, :name => 'title', :size => 60, :required => true
      %em.info
        = l(:text_unallowed_characters)
        \: , . / ? ; : |
  = submit_tag(l(:label_next))
