.label= l(:label_my_account)
%span
  = l(:field_user)
  \:
  %strong= link_to_user(@user)
  %br

  = l(:field_created_on)
  \:
  = format_time(@user.created_on)

%br
%br
%br

-# %h4= l(:label_feeds_access_key)
-# %p
-#   - if @user.rss_token
-#     = l(:label_feeds_access_key_created_on, distance_of_time_in_words(Time.now, @user.rss_token.created_on))
-#   - else
-#     = l(:label_missing_feeds_access_key)
-#   (#{link_to l(:button_reset), my_rss_key_path, :method => :post})

- if Setting.rest_api_enabled?
  .label
    = l(:label_api_access_key)
    = link_to l(:button_show), my_api_key_path, :remote => true
  %pre#api-access-key.autoscroll
  = javascript_tag("$('#api-access-key').hide();")
  %span
    - if @user.api_token
      = l(:label_api_access_key_created_on, distance_of_time_in_words(Time.now, @user.api_token.created_on))
    - else
      = l(:label_missing_api_access_key)
    (#{link_to l(:button_reset), my_api_key_path, :method => :post})
