- provide :nav, (@project.show_by(4)? "4,1" : "2,1")

%h2= l(:label_news)
= labelled_form_for @news, :html => { :id => 'news-form', :multipart => true, :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f }
  = submit_tag l(:button_save)
  = preview_link preview_news_path(:project_id => @project, :id => @news), 'news-form'
#preview.wiki
- content_for :header_tags do
  = stylesheet_link_tag 'scm'
