- provide :nav, (@project.show_by(4)? "4,1" : "2,1")

%h2= l(:label_news_new)
= labelled_form_for @news, :url => project_news_index_path(@project), |
  :html => { :id => 'news-form', :multipart => true } do |f|          |
  = render :partial => 'news/form', :locals => { :f => f }
  = submit_tag l(:button_create)
  = preview_link preview_news_path(:project_id => @project), 'news-form'
#preview.wiki
