= labelled_fields_for :product_definition, @definition do |f|
  / Basic info
  .label= l(:product_definition_basic_info)
  %p= f.select :category, list_for_select(@definition, :category), label: :version_release_category
  %p.description
    = f.text_area :description, :rows => 8
    = wikitoolbar_for 'version_release_description'
  .splitcontent.row.basic-info
    .col-md-6
      %p
        = f.select :project_id, app_production_options_for_select(@release), label: :version_release_production
        = select2_for "version_release_project_id"

      %p= f.select :spec_id, app_spec_options_for_select(@release), label: :version_release_spec
      %p= f.select :version_id, app_version_options_for_select(@release), :required => true, label: :version_release_version_id
      %p
        = f.select :mail_receivers, {}, {}, {:multiple => "multiple"}
        %small.form-text.text-muted 版本发布完成后，邮件同时抄送给对方
        = select2_remote "version_release_mail_receivers", @project
    .col-md-6
      %p= f.text_field :version_applicable_to, label: :version_release_version_applicable_to
      %p= f.text_field :tested_mobile, label: :version_release_tested_mobile
      %p
        = f.text_field :test_finished_on, label: :version_release_test_finished_on
        = calendar_for "version_release_test_finished_on"
  / Test info
  .label= l(:version_release_test_info)
  .splitcontent.row.test-info
    .col-md-6
      %p
        = f.select :test_type, list_for_select(@release, :test_type), label: :version_release_test_type
        %small.form-text.text-muted 非全面测试时，在测试补充说明中写明原因
      - if @release.show_by(2, 3)
        %p= f.select :bvt_test, list_for_select(@release, :bvt_test), label: :version_release_bvt_test
      - if @release.show_by(1)
        %p
          = f.select :fluency_test, list_for_select(@release, :fluency_test), label: :version_release_fluency_test
          %small.form-text.text-muted 如果适配中不用测试，在测试补充说明中写明原因
        %p
          = f.select :response_time_test, list_for_select(@release, :response_time_test), label: :version_release_response_time_test
          %small.form-text.text-muted 如果适配中不用测试，在测试补充说明中写明原因
        %p= f.select :sonar_codes_check, list_for_select(@release, :sonar_codes_check), label: :version_release_sonar_codes_check
        %p
          = f.select :app_standby_test, list_for_select(@release, :app_standby_test), label: :version_release_app_standby_test
          %small.form-text.text-muted 如果适配中不用测试，在测试补充说明中写明原因
    .col-md-6
      - if @release.show_by(1, 2)
        %p
          = f.select :monkey_72_test, list_for_select(@release, :monkey_72_test), label: :version_release_monkey_72_test
          %small.form-text.text-muted 如果适配中不用测试，在测试补充说明中写明原因
        %p
          = f.select :memory_leak_test, list_for_select(@release, :memory_leak_test), label: :version_release_memory_leak_test
          %small.form-text.text-muted 如果适配中不用测试，在测试补充说明中写明原因
      - if @release.show_by(1, 3)
        %p= f.select :cts_test, list_for_select(@release, :cts_test), label: :version_release_cts_test
      - if @release.show_by(1)
        %p= f.select :cts_verifier_test, list_for_select(@release, :cts_verifier_test), label: :version_release_cts_verifier_test
      - if @release.show_by(1, 2)
        %p
          = f.select :interior_invoke_warning, list_for_select(@release, :interior_invoke_warning), label: :version_release_interior_invoke_warning
          %small.form-text.text-muted 应用调用使用权限提示
        %p
          = f.select :related_invoke_warning, list_for_select(@release, :related_invoke_warning), label: :version_release_related_invoke_warning
          %small.form-text.text-muted 关联应用调用使用权限提示
  / Additional info
  .label= l(:version_release_additional_info)
  .splitcontent.row.additional-info
    .col-md-6
      %p= f.select :codes_reviewed, bool_for_select, label: :version_release_codes_reviewed
      %p= f.select :cases_sync_updated, bool_for_select, label: :version_release_cases_sync_updated
      - if @release.show_by(3)
        %p= f.select :code_walkthrough_well, bool_for_select, label: :version_release_code_walkthrough_well
        %p= f.select :mode, list_for_select(@release, :mode), label: :version_release_mode
      %p= f.text_area :relative_objects, label: :version_release_relative_objects
      %p= f.text_area :issues_for_platform, label: :version_release_issues_for_platform
    .col-md-6
      - if @release.show_by(1, 2)
        %p
          = f.select :sdk_review, list_for_select(@release, :sdk_review), label: :version_release_sdk_review
          %small.form-text.text-muted 不用评审时，注明原因
        %p= f.select :ued_confirm, list_for_select(@release, :ued_confirm), label: :version_release_ued_confirm
      %p= f.text_area :remaining_issues, label: :version_release_remaining_issues
      %p= f.text_area :new_issues, label: :version_release_new_issues
      %p= f.text_area :note, label: :version_release_note
  / Data upload
  .label= l(:version_release_data_upload)
  - if @definition.show_by(1, 2)
    %p
      = f.select :uir_upload_to_svn, bool_for_select, label: :version_release_uir_upload_to_svn

  - if @definition.show_by(1)
    %p
      %label 附件内容
      %span.vcenter BVTC测试报告、用例和脑图、UIR、Mokey72小时报告

  - elsif @definition.show_by(2)
    %p
      %label 附件内容
      %span.vcenter 脑图和用例、SDK通过附件、UED效果确认附件、发布自检表、流畅度测试报告、响应时间报告、Sonar代码检查结果截图、应用待机功耗测试截图、monkey72小时测试及内存泄露报告、CTS测试结果报告、UIR


:javascript
  new SMValidator('form', {
    fields: {
      'version_release[version_id]': 'required'
    },
    submit: function(valid, form) {
      if(valid) form.submit();
    }
  });
