- provide :nav, "2,4"
- provide :css, "bootstrap"

- content_for :bread do
  %li= link_to l(:label_native_applist), native_applists_path
  %li= l(:native_applist_new)

%span.h2= l(:native_applist_new)

= labelled_form_for @app, url: native_applists_path do |f|
  = error_messages_for @app
  = render :partial => 'form', :locals => {:f => f}

  .button-group.text-center
    = submit_tag l(:button_create), class: "btn btn-primary"
    = submit_tag l(:button_create_and_continue), :name => 'continue', class: "btn btn-primary"

- html_title(l(:native_applist_new))
