- provide :nav, "2,4"
- provide :css, "bootstrap"

- content_for :bread do
  %li= link_to l(:label_version_publish), version_publishes_path
  %li= "#{@spec.fullname} 历史记录"

.filter-right
  .panel.panel-default
    .panel-heading
      .issues-head
        .row.issues-head-title
          .col-sm-6
            .h2= "#{@spec.fullname} 版本官网公示信息历史记录"
    .panel-body
      -if @version_publishes.present?
        .roadmap-table
          %table.list.table.table-striped.table-bordered
            %thead
              %tr
                %th{:width => "5%"} 序号 
                %th{:width => "65%"}= l(:version_publish_notes)
                %th{:width => "10%"}= l(:version_publish_version_id)
                %th{:width => "10%"}= l(:version_publish_author)
                %th{:width => "10%"}= l(:version_publish_created_at)
            %tbody
              - @version_publishes.each_with_index do |version_publish, index|
                %tr
                  %td= index+1
                  %td= simple_format notes_text(version_publish.notes, version_publish.id)
                  %td= version_publish.version.name
                  %td= version_publish.user.firstname
                  %td= version_publish.created_at.try(:strftime,'%Y-%m-%d %H:%M:%S')
        %span.pagination= pagination_links_full @pages, @count
