%p= l(:mail_body_settings_updated)
%ul
  - @changes.each do |name|
    %li= l("setting_#{name}")
= link_to @url, @url
%p
  = l(:field_user)
  \:
  %strong= User.current.login
  %br/
  = l(:field_remote_ip)
  \:
  %strong= User.current.remote_ip
  %br/
  = l(:label_date)
  \:
  %strong= format_time Time.now, true
