-# %h3.title= l(:permission_add_issue_watchers)
= form_tag(watchables.present? ? watchers_path : watchers_append_path, |
  :remote => true,                                                     |
  :method => :post,                                                    |
  :id => 'new-watcher-form') do
  - if watchables.present?
    = hidden_field_tag 'object_type', watchables.first.class.name.underscore
    - watchables.each do |watchable|
      = hidden_field_tag 'object_id[]', watchable.id
  = hidden_field_tag 'project_id', @project.id if @project
  .input-group{:style => "width: 50%"}
    = text_field_tag 'user_search', nil, :class => "form-control", :placeholder => "搜索其它用户"
    %span.input-group-addon
      = icon "search"
  = javascript_tag "observeSearchfield('user_search', 'users_for_watcher', '#{ escape_javascript url_for(:controller => 'watchers', |
    :action => 'autocomplete_for_user',                                                                                             |
    :object_type => (watchables.present? ? watchables.first.class.name.underscore : nil),                                           |
    :object_id => (watchables.present? && watchables.size == 1 ? watchables.first.id : nil),                                        |
    :project_id => @project) }')"
  #users_for_watcher{:style => "margin-top: 10px"}
    = principals_check_box_tags('watcher[user_ids][]', users)
  -# %p.buttons
    -# = submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);"
    -# = submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button'

