%h2= l(:label_password_lost)
= form_tag(lost_password_path) do
  .box.tabular
    %p
      %label{:for => "mail"}
        = l(:field_mail)
        %span.required *
      = text_field_tag 'mail', nil, :size => 40
      = submit_tag l(:button_submit)
