- diff = Redmine::UnifiedDiff.new(
- diff, :type => diff_type,
- :max_lines => Setting.diff_max_lines_displayed.to_i,
- :style => diff_style)
- diff.each do |table_file|
  .autoscroll
    - if diff.diff_type == 'sbs'
      %table.filecontent
        %thead
          %tr
            %th.filename{:colspan => "4"}
              = table_file.file_name
        %tbody
          - table_file.each_line do |spacing, line|
            - if spacing
              %tr.spacing
                %th.line-num ...
                %td
                %th.line-num ...
                %td
            %tr
              %th.line-num= line.nb_line_left
              %td{:class => "line-code #{line.type_diff_left}"}
                %pre= line.html_line_left.html_safe
              %th.line-num= line.nb_line_right
              %td{:class => "line-code #{line.type_diff_right}"}
                %pre= line.html_line_right.html_safe
    - else
      %table.filecontent
        %thead
          %tr
            %th.filename{:colspan => "3"}
              = table_file.file_name
        %tbody
          - table_file.each_line do |spacing, line|
            - if spacing
              %tr.spacing
                %th.line-num ...
                %th.line-num ...
                %td
            %tr
              %th.line-num= line.nb_line_left
              %th.line-num= line.nb_line_right
              %td{:class => "line-code #{line.type_diff}"}
                %pre= line.html_line.html_safe
= l(:text_diff_truncated) if diff.truncated?
