%div{:style => "width:100%;"}
  %ul.notification-list
    %li.notification-list-item
      .notification-content
        %p
          %strong= "查询条件"
      .clearfix
      .notification-acton.select2-rectify
        %form#formMovingAndBackToOwner.form-horizontal{:role => "form"}
          .form-group
            .input-group
              .input-group-addon 项目
              = hidden_field_tag "project","project_id"
              = select_tag "project_value", project_tree_options_for_select(Project.all), :multiple => :multiple, :class => "form-control"

              .input-group-addon 严重等级
              = select_tag "priority_id", options_for_select(IssuePriority.active.collect{|pty| [pty.name,pty.id]}), :multiple => :multiple, class: 'value form-control select-multiple'

          .form-group
            .input-group
              .input-group-addon 更新时间
              %input#start_dt.form-control{:name => "start_dt",:value => "#{(Time.now-30.days).strftime('%Y-%m-%d')}"}
              .input-group-addon 至
              %input#end_dt.form-control{:name => "end_dt",:value => "#{Time.now.strftime('%Y-%m-%d')}"}

              .input-group-addon 作者类型
              %select#project.form-control{:name => "by_tester"}
                %option{:value => "0"} 开发人员
                %option{:value => "1"} 测试人员

              = hidden_field_tag "created_time_yn","3"
              = hidden_field_tag "dwm_yn","1"
          .text-right
            %input{:type => "button",:onclick => "queryMovingAndBackToOwner('bug_moving_and_back_to_owner')",:class => "btn btn-primary",:value => "查询"}

.panel.panel-default
  .panel-heading= "BUG流转走查"
  .panel-body
    .button-group-report.text-right
      %input{:type => "button",:onclick => "exportPersonalize('bug_moving_and_back_to_owner','formMovingAndBackToOwner')",:class => "btn btn-primary",:value => "导出Excel"}
    .autoscroll
      %table#bug_moving_and_back_to_owner.table.table-striped.table-bordered.table-hover

:javascript
  initSelect("project_value");
  initSelect("priority_id");
  initDateTimePicker("start_dt","Y-m-d",false);
  initDateTimePicker("end_dt","Y-m-d",false);

  $('#project_value,#start_dt,#end_dt,#role_value').on("change", function (e) {
    //queryBugVerificatingTime('bug_moving_and_back_to_owner');
  });

  setTimeout(function () {
        $('.notification-acton').css("display","block");
        //queryBugVerificatingTime('bug_moving_and_back_to_owner');
    }, 500);