%div{:style => "width:100%;"}
  %ul.notification-list
    %li.notification-list-item
      .notification-content
        %p
          %strong= "查询条件"
      .clearfix
      .notification-acton.select2-rectify
        %form#formTimeoutAndUnhandleBugCoverage.form-horizontal{:role => "form"}
          .form-group
            %label.col-sm-1.control-label 天数
            .col-sm-2
              = hidden_field_tag "dwm","day"
              %select#days.form-control{:name => "days"}
                %option{:value => "3"}= 3
                %option{:value => "7"}= 7
                %option{:value => "10"}= 10
            %label.col-sm-1.control-label 时间
            .col-sm-2
              %input#start_dt_coverage.form-control{:name => "start_dt",:value => "2016-09-01"}
            %label.col-sm-1.control-label 到
            .col-sm-2
              %input#end_dt_coverage.form-control{:name => "end_dt",:value => "#{Time.now.strftime('%Y-%m-%d')}"}
            .col-sm-1
              %input{:type => "button",:onclick => "queryTimeoutAndUnhandleBugCoverage('timeout_and_unhandle_bug_coverage')",:class => "btn btn-primary",:value => "查询"}

#chartTimeoutAndUnhandleBugCoverage{:style => "height:680px"}

:javascript
  initDateTimePicker("start_dt_coverage","Y-m-d",false);
  initDateTimePicker("end_dt_coverage","Y-m-d",false);

  setTimeout(function () {
        $('.notification-acton').css("display","block");
        queryTimeoutAndUnhandleBugCoverage('timeout_and_unhandle_bug_coverage');
    }, 500);

