%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        = image_tag("amigo.png")
        = development_env_flag
    #navigation.collapse.navbar-collapse
      - if (menus = $redis.smembers("amigo_main_menus[#{current_user.id}]")).present?
        = menus.join.html_safe
      - else
        = render_menu :top_menu, nil, "nav navbar-nav"
        - $redis.sadd("amigo_main_menus[#{current_user.id}]", render_menu(:top_menu, nil, "nav navbar-nav"))

      - if (menus = $redis.smembers("amigo_personal_menus[#{current_user.id}]")).present?
        = menus.join.html_safe
      - else
        = render_personal_center
        - $redis.sadd("amigo_personal_menus[#{current_user.id}]", render_personal_center)

      %ul.nav.navbar-nav.navbar-right.nav-faster-new
        %li.dropdown.nav-faster-new
          %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => void_js, :role => "button"}
            %i.fa.fa-plus
          %ul.dropdown-menu
            - if (menus = $redis.smembers("amigo_faster_new_menus[#{current_user.id}]")).present?
              = menus.join.html_safe
            - else
              = faster_new_menu
              - $redis.sadd("amigo_faster_new_menus[#{current_user.id}]", faster_new_menu)
      %ul.navbar-form.navbar-right
        .nav-downlaod= link_to (icon "download", :class => "export-badge" , "data-badge" => unexport_count), void_js
        .nav-search
          = form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do
            = hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope
            = text_field_tag 'q', @question, :size => 20, :placeholder => "搜索从这里开始", :accesskey => accesskey(:quick_search)
            = icon "search"
        // .nav-notification
        //   = link_to (icon "envelope", :class => "mail-badge", "data-badge" => unread_count), my_notifications_path
      - if (menus = $redis.smembers("amigo_notice_menus[#{current_user.id}]")).present?
        = menus.join.html_safe
      - else
        = render_notice_menu
        - $redis.sadd("amigo_notice_menus[#{current_user.id}]", render_notice_menu)


- if yield(:nav).present?
  .nav-content
    .container.tab-content
      - if (menus = $redis.smembers("amigo_nav_sub_menus[#{current_user.id}]")).present?
        = menus.join.html_safe
      - else
        = render_navigation_sub_menu
        - $redis.sadd("amigo_nav_sub_menus[#{current_user.id}]", render_navigation_sub_menu)

  - if yield(:bread).present?
    .nav-breadcrumb
      .container
        %ol.breadcrumb
          = link_to "< ", :back
          = yield(:bread)

.help_window
  %header
    .main
      %p 阿米哥
      %span Version 3.0
  .main
    %p 阿米哥基于Redmine开发，目前正处于开发期，欢迎大家提出宝贵意见，共同推动本项目进程。
  .main.text-center
    %a.btn.btn-primary{:href => "https://os.gionee.com/projects/amigo-h/boards/1"} 意见反馈


:javascript
  var nav = #{yield(:nav).first.to_i} || 0, subnav = #{yield(:nav).last.to_i} || 0;
  $("#tab-"+$("#navigation li").eq(nav - 1).addClass("active").find("a").attr("class").split(' ')[0]).addClass("active").find("li").eq(subnav - 1).addClass("active");
  $("#navigation a[href='#'], li.comingsoon").click(function(){layer.msg("本功能暂未上线，敬请期待！")});
  $("#help").click(function(){
    layer.open({
      type: 1,
      area: ['360px', 'auto'],
      skin: 'layui-layer-rim', //加上边框
      content: $(".help_window")
    });
  })
